*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    width: 100%;
    background-color: aliceblue;
}
.function_bar{
    height: 60px;
    background: rgb(26, 30, 80);
    text-align: center;
}
.function_bar ul{
    display: inline-flex;
    list-style: none;
    color:aliceblue
}
.function_button {
    padding: 5px 34px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(26, 30, 80);
    color: white;
    cursor: pointer;
}
.function_button:hover{
    background-color: rgb(80, 85, 156);
}
canvas{
    margin: 30px;
    border: 3px solid rgb(63, 64, 70);
    background-color: rgb(255, 255, 255);
}
.slider{

    margin: 20px;
    width: 400px;
    height: 20px;
}
.tool {
    background-color: #ddd;
    margin: 16px;
    border: none;
}
.dropbtn {
  background-color: #156fc4;
  color: white;
  padding: 16px;
  font-size: 16px;
  min-width: 100px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownbtn {
    border: none;
    min-width: 100px;
    height : 50px;
    font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drawpng {
    margin: 10px;
}

.submit {
    width: 50px;
    height: 55px;
    background-color: #156fc4;
    border:none;
}

.submit:hover {
    background-color: #114f88;
    cursor:pointer;
}

.dropdown-content a:hover button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#114f88; cursor:pointer;}

.dropdown:hover .dropdownbtn:hover {background-color: #ddd; cursor:pointer;}

button:focus {outline:0;}
input:focus {outline:0;}